<% layout('layouts/boilerplate') %>
    <section class="bg-dark text-light px-5 py-2 text-center">
        <div class="container">
            <div class="fl">
            <div class="fr"><h1 class="firsth">Welcome to the <span id="sp">Banking System</span></h1>
                <a href="/viewall" class="bt1"><div class="bt">
                Transfer Money
                </div></a>
            </div>
            <div class="im">
            <img class="img-fluid" src="/images/ing1.png" alt=""  >
        </div>
        </div>
        </div>
    </section>
    <section class="text-light px-5 py-2 mb-4 text-center" id="sect2">
        <h2>FEATURES <i class="bi bi-gear-wide-connected"></i></h2>
    </section>
    <div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card bg-dark text-light" style="width: 80%; margin-left: auto; margin-right: auto;">
                <div class="card-body text-center">
                    <div class="h1">
                        <i class="bi bi-people"></i>
                    </div>
                <h3 class="card-title">Safe</h3>
                <p class="card-text">Distinct users are there having a unique email, account number and a current balance. Their information is available in the info page.</p>
            </div>
        </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <div class="card bg-secondary text-light" style="width: 80%; margin-left: auto; margin-right: auto;">
                <div class="card-body text-center">
                    <div class="h1">
                        <i class="bi bi-laptop"></i>
                    </div>
                <h3 class="card-title">Safe</h3>
                <p class="card-text">User can choose a person to whom he has to transfer money to among the users available in the list.</p>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-light" style="width: 80%; margin-left: auto; margin-right: auto;">
                <div class="card-body text-center">
                    <div class="h1">
                        <i class="bi bi-cash"></i>
                    </div>
                <h3 class="card-title">Safe</h3>
                <p class="card-text">User has to transfer money which is which is upto his balance. If a user transfer an amount which is above his balance then the transaction fails.</p>
            </div>
        </div>
        </div>
    </div>
</div>